body{
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
body.light {
    --img-bg: url("bg-desktop-light.jpeg");
    --clr-primary: hsl(243, 12%, 30%);
    --clr-page-bg: hsl(0, 0%, 98%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-gb-1: hsl(240, 8%, 24%);
    --clr-gb-2: hsl(243, 12%, 30%);
    --clr-gb-3: hsl(252, 6%, 83%);
    --clr-gb-4: hsl(237, 10%, 64%);
    --clr-gb-5: hsl(252, 9%, 73%);
    --clr-gb-6: hsl(252, 21%, 94%);
  }
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 2px solid darkgray;
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
  }
  #the-ul{
      margin-top: 7%;
      display: flex;
       align-items: center;
   justify-content: center;
   margin-bottom: 7%;
    }
  
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 , h2 , h3 {
    color: white;
}
#button-btn{
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 8%;
    border: 2px solid dimgrey; 
    
}
#d11{
    margin-top: 8%;
    margin-left: 41%;
    margin-bottom: 8%;
}
#header{
    padding-top: 2%;
    padding-bottom: 2%;
margin-top: 2%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
border: 3px solid dimgrey;
padding-left: 33%;
}

#pouns{
    margin-top: 2%;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 5px 25px;
    border-radius: 5px;
    position: absolute;
    left: 48%;
    bottom: auto;
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position .3s ease-out, color .3s ease-out;
    text-transform: uppercase;
    margin-bottom: 35%;

 }

#pouns:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}




#player1{
    
    border: 1px solid hsl(217, 16%, 45%);
    padding: 5px 25px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position .3s ease-out, color .3s ease-out;
    text-transform: uppercase;

 }

#player1:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}
